In [1]:
import pandas as pd
import numpy as np

In [2]:
np.array([1, 2])

array([1, 2])

In [29]:
# 常见数据结构

In [30]:
a = tuple([4, 0, 2])
a[0]

4

In [7]:
a_list = [2, 3, 7, 2]
a_list.count(2)
a_list.pop()
print(a_list)

[2, 3, 7]

In [8]:
a_list.append(1)
a_list.remove(2)
print(a_list)

[3, 7, 1]

In [9]:
0 in a_list

False

In [12]:
d1 = {'a': "some value", 'b': [1, 2, 3, 4]}
d1['c'] = 1.0
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 1.0}

In [13]:
del d1['a']
print(d1)

{'b': [1, 2, 3, 4], 'c': 1.0}

In [14]:
d1.keys()

dict_keys(['b', 'c'])

In [15]:
mapping = dict(zip(range(5), reversed(range(5))))
print(mapping)

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [16]:
d1.get('c')

1.0

In [17]:
d1.get('a', 'not found')

'not found'

In [21]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [24]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
a&b

{3, 4, 5}

In [26]:
a-b

{1, 2}

In [27]:
# 内置函数

In [31]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [33]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [34]:
for i, c in enumerate(seq1):
    print(i, c)

0 foo
1 bar
2 baz

In [35]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [36]:
# 高级操作

In [37]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [38]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
['Maria', 'Cynthia', 'Javier', 'Natalia', 'Pilar']]
[name for names in all_data for name in names if name.count('e') >= 2]

['Steven']

In [39]:
def fib_to(n):
    fibs = [1, 2, 4]
    if n == 0:
        return 0
    if n == 1:
        return 1
    if n == 2:
        return 2
    if n == 4:
        return 4
    else:
        for i in range(3, n):
            fibs.append(fibs[-1] + fibs[-2] + fibs[-3])
        return fibs[-1]
fib_to(4)

4

In [40]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x*x)

[16, 0, 1, 25, 36]

In [41]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [42]:
# Generator 生成器与迭代器

In [43]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
dict_iter = iter(some_dict)
print(list(dict_iter))

['a', 'b', 'c']

In [44]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [45]:
iter1 = itertools.combinations('abcd', 2)
list(iter1)

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]